
.img-wrapper {  
    width: 400px;
    height: 400px;
    overflow: hidden; 
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #000;
    margin-right: 20px;
    }

    .inner-img {
    transition: 0.3s;
    }

    .inner-img:hover {
    transform: scale(1.1);
    }

    

  